html,body{
	margin: 0px;
	padding: 0px;
	color: #777;
	font: 20px Arial, sans-serif;
	height: 100%;
	background-color: black ;
}

#cor{
	background-color: #A2A2A2;
	height: 10px;
	width: 100%;
}
#cabecalho{
	background-color: white;
	height: 100px;
	width: 100%;
}
#logo img{
	margin: 10px;
	padding-left: 10px;
	width: 280px;
	height: auto;
}
#menu{
	float: right;
	margin: 35px;
}
h3{
	color: #BDBDBD;
	text-align: center;
	text-transform: uppercase;
}
a:link{
	color: black;
	padding: 10px;
	font-size: 20px;
	text-decoration: none;
}
a:visited{
	color: #545454;
}
a:hover{
	color:#A2A2A2;
	background-color: #545454;
	border-radius: 5px;
}
a:active{
	color:black ;
}
#fundo-slide{
	height: 400px;
	width: 70%;
	margin: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	border-radius: 10px;
	background-image: url(../imagens/fundo7.png);
}
.banner{
  width: 320px;
  height: 400px;
  margin: 10px auto;
  animation: slides 25s infinite;
  transition: 1s;
  background-size: cover;
}
.texto{
	margin: 40px 300px;
	padding: 10px 50px;
	border-radius: 10px;
	background-color: white;
}
#rodape{
	padding-top: 50px;
	font-size: 20px;
	text-align: center;
	color: #A2A2A2;
	background-color: #1B1B1B;
	height: 80px;
	width: 100%;
}
@keyframes slides{

0%, 10%{ background-image: url(../imagens/foto10.jpeg);
 repeat: no-repeat;
}

10%, 20%{ background-image: url(../imagens/foto1.jpeg);
 repeat: no-repeat;
}

20%, 30%{ background-image: url(../imagens/foto2.jpeg);
 repeat: no-repeat;
}

30%, 40%{ background-image: url(../imagens/foto3.jpeg);
 repeat: no-repeat;
}

40%, 50%{ background-image: url(../imagens/foto4.jpeg);
 repeat: no-repeat;
}

50%, 60%{ background-image: url(../imagens/foto5.jpeg);
 repeat: no-repeat;
}

60%, 70%{ background-image: url(../imagens/foto6.jpeg);
 repeat: no-repeat;
}

70%, 80%{ background-image: url(../imagens/foto7.jpeg);
 repeat: no-repeat;
}

80%, 90%{ background-image: url(../imagens/foto8.jpeg);
 repeat: no-repeat;
}

90%, 100%{ background-image: url(../imagens/foto9.jpeg);
 repeat: no-repeat;
}
}
/*paralax*/
.conteudo{
	background-color: #000000;
	text-align: justify;
	padding: 50px 80px;
	margin: 0% 10%;
}
.conteudo2{
	text-align: justify;
	text-align: center;
	height: 50px;
	padding: 50px 80px;
	padding-bottom: 80px;
	background-image: linear-gradient(#424242,#000000);
	font-size: 17px;
}
.imagem1, .imagem2, .imagem3, .imagem4, .imagem0{
	margin: 0% 10%;
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.imagem0{
	background-image: url(../imagens/foto11.jpeg);
}
.imagem1{
	background-image: url(../imagens/carro.jpg);
}
.imagem2{
	background-image: url(../imagens/foto13.jpeg);
}
.imagem3{
	background-image: url(../imagens/foto14.jpeg);
}
.titulo-imagem{
	position: absolute;
	left: 0px;
	top: 50%;
	width: 100%;
	text-align: center;
}
.titulo-imagem span.titulo{
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
}
/*termino*/